::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #888; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

footer{
    position: relative;
    top: 50px;
}

input{
    height: 50px;
}

.send-btn{
    width: 200px;
    height: 45px;
}

@media only screen and (max-width:600px) {
    footer{
        position: relative;
        top: -180px;
    }
}